:root {
  /*---Colors----*/
  --brend-cl: #4d5ae5;
  --ocean-cl: #404bbf;
  --subtitle-cl: #2e2f42;
  --text-cl: #434455;
  --green-cl: #31d0aa;
  --light-slate-cl: #8e8f99;
  --cornflower-cl: #e7e9fc;
  --cloud-cl: #f4f4fd;
  --white-cl: #ffffff;
  --dairy-cl: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-cl);
  background-color: var(--white-cl);
}

.logo {
  color: var(--brend-cl);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--subtitle-cl);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style-type: none;
}

.section-title {
  color: var(--subtitle-cl);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: var(--subtitle-cl);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/*---------HEADER-------------*/

.address {
  font-style: normal;
}

.header-menu-link {
  color: var(--subtitle-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--text-cl);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--ocean-cl);
}
/*---------HERO-------------*/

.hero {
  background-color: var(--subtitle-cl);
}
.hero-title {
  color: var(--white-cl);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  cursor: pointer;
  color: var(--white-cl);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--brend-cl);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-cl);
}

/*---------ADVANTAGES-------------*/

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------GADGETS-------------*/

/*---------TEAM-------------*/

.team {
  background-color: var(--cloud-cl);
}

.team-item {
  background-color: var(--white-cl);
}

.team-name {
  color: var(--subtitle-cl);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------FOOTER-------------*/

.footer {
  background-color: var(--subtitle-cl);
}

.footer-logo-studio {
  color: var(--cloud-cl);
}

.footer-text {
  color: var(--cloud-cl);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------PORTFOLIO---------------- */

.filtr-btn {
  cursor: pointer;
  font-family: inherit;
  color: var(--brend-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud-cl);
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--white-cl);
  background-color: var(--ocean-cl);
}

.subtitle {
  color: var(--subtitle-cl);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.project-desk {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-cl);
}
